{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Storehouse Foundation</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/static/img/favicon.png">
    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/static/img/logo-small.png" width="40px"> The Storehouse</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">What we do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-6" style="padding-top: 100px">

            <h1 class="text-uppercase" style="text-align: left; font-size: 40pt; text-shadow: rgba(10, 10, 10, 0.58) 2px 2px">
              <strong>Bringing Happiness in the life of one child</strong>
            </h1>
            <hr>
            <div style="text-align: left">
              <p class="mb-5">The Lord will open the heavens, the Storehouse of his bounty, to send rain on your
              land in season and to bless all the work of your hands. You will lend to many nations but will borrow from none.
              <br><span><i>- Deuteronomy 28:12 (NIV)</i></span>
              </p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Touch a Life</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">God has blessed and sustained the people of the world in so many ways that they have lost count
                of His goodness and mercy. Imagine the world without air and water. God gives freely to the
                entire world population. Think about the spatial size of the world which accommodates millions of people.
                Reflect on the sinful nature of man which is contrary to God’s statutes, yet he loves, blesses, forgives
                and fights our battles. The feeling of gratitude overwhelms us when we flashback to some memorable occasions
                when the hand of God moved mightily in our lives. </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" style="background-color: limegreen; color: white" href="#services">Service</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Service to Humanity</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x text-primary mb-3 sr-icon-1"><img src="/static/img/icons/book-01.svg"></i>
              <h3 class="mb-3">Education</h3>
              <p class="text-muted mb-0 text-justify" style="font-weight: bold">Yearly, children are supported with provisions of school materials
              such as school bags, uniforms, stationeries and more.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x text-primary mb-3 sr-icon-2"><img src="/static/img/icons/food-01.svg"></i>
              <h3 class="mb-3">Food</h3>
              <p class="text-muted mb-0 text-justify" style="font-weight: bold">The not-too privileged are provided food, to show our concern and love during festive seasons.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x text-primary mb-3 sr-icon-3"><img src="/static/img/icons/hand-01.svg"></i>
              <h3 class="mb-3">Giving</h3>
              <p class="text-muted mb-0 text-justify" style="font-weight: bold"><b>"For Lord loves a cheerful giver"</b><br> We lend an helping hand by identifying
              needs of children and giving out basic necessity.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x text-primary mb-3 sr-icon-4"><img src="/static/img/icons/children-01.svg"></i>
              <h3 class="mb-3">Support</h3>
              <p class="text-muted mb-0 text-justify" style="font-weight: bold">Supporting children by giving them a voice and a better life.</p>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-8 mx-auto text-center">
            <br>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#portfolio" style="background-color: dodgerblue">Gallery</a>
          </div>
    </section>

    <section class="p-0" id="portfolio" style="background-color: #25aae1">
        <div class="row" style="padding: 20px 0 20px 0">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-white">Gallery</h2>
              <hr class="light my-4">
          </div>
      </div>
        <ul class="bg-light nav nav-pills nav-fill nav-tabs" id="myTab" role="tablist" style="font-weight: bold">
          <li class="nav-item" style="border: solid limegreen 2px">
            <a class="nav-link active" id="sh2015-tab" data-toggle="tab" href="#sh2015" role="tab" aria-controls="home" aria-selected="true">Storehouse 2015</a>
          </li>
          <li class="nav-item" style="border: solid limegreen 2px">
            <a class="nav-link" id="sh2016-tab" data-toggle="tab" href="#sh2016" role="tab" aria-controls="profile" aria-selected="false">Storehouse 2016</a>
          </li>
          <li class="nav-item" style="border: solid limegreen 2px">
            <a class="nav-link" id="sh2017-tab" data-toggle="tab" href="#sh2017" role="tab" aria-controls="contact" aria-selected="false">Storehouse 2017</a>
          </li>
          <li class="nav-item" style="border: solid limegreen 2px">
            <a class="nav-link" id="sh2018-tab" data-toggle="tab" href="#sh2018" role="tab" aria-controls="contact" aria-selected="false">Storehouse 2018</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent" style="color: white">
          <div class="tab-pane fade show active" id="sh2015" role="tabpanel" aria-labelledby="sh2015-tab">
              <div class="row" style="padding: 20px 0 20px 0">
                  <div class="col-lg-5 offset-1">
                        <h4>Storehouse Foundation 2015</h4>
                      <h5>Location: Okegun, Ilupeju</h5>
                  </div>
              </div>
              <div class="container-fluid p-0">
                <div class="row no-gutters popup-gallery">
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2015/1.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2015/1.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2015/2.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2015/2.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2015/3.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2015/3.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2015/4.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2015/4.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2015/5.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2015/5.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">

                          </div>
                          <div class="project-name">

                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="sh2016" role="tabpanel" aria-labelledby="sh2016-tab">
              <div class="row" style="padding: 20px 0 20px 0">
                  <div class="col-lg-5 offset-1">
                        <h4>Storehouse Foundation 2016</h4>
                      <h5>Location: Okegun, Ilupeju</h5>
                  </div>
              </div>
              <div class="container-fluid p-0">
                <div class="row no-gutters popup-gallery">
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2016/1.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2016/1.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2016/2.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2016/2.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2016/3.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2016/3.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2016/4.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2016/4.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2016/5.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2016/5.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">

                          </div>
                          <div class="project-name">

                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2016/6.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2016/6.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">

                          </div>
                          <div class="project-name">

                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="sh2017" role="tabpanel" aria-labelledby="sh2017-tab">
              <div class="row" style="padding: 20px 0 20px 0">
                  <div class="col-lg-5 offset-1">
                        <h4>Storehouse Foundation 2015</h4>
                      <h5>Location: Ikota, Lekki, Lagos</h5>
                  </div>
              </div>
              <div class="container-fluid p-0">
                <div class="row no-gutters popup-gallery">
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2017/1.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2017/1.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2017/2.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2017/2.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2017/3.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2017/3.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2017/4.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2017/4.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2017/5.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2017/5.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">

                          </div>
                          <div class="project-name">

                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2017/6.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2017/6.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">

                          </div>
                          <div class="project-name">

                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="sh2018" role="tabpanel" aria-labelledby="sh2018-tab">
              <div class="row" style="padding: 20px 0 20px 0">
                  <div class="col-lg-5 offset-1">
                        <h4>Storehouse Foundation 2018</h4>
                      <h5>Location: Magbon-Alade, Ibeju-Lekki, Lagos</h5>
                  </div>
              </div>
              <div class="container-fluid p-0">
                <div class="row no-gutters popup-gallery">
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2018/1.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2018/1.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2018/2.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2018/2.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2018/3.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2018/3.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2018/4.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2018/4.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2018/5.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2018/5.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">

                          </div>
                          <div class="project-name">

                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="/static/img/portfolio/fullsize/2018/6.jpg">
                      <img class="img-fluid" src="/static/img/portfolio/thumbnails/2018/6.jpg" alt="">
                      <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">

                          </div>
                          <div class="project-name">

                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Join us today!</h2>
            <hr class="my-4">
            <p class="mb-5">Contact us for any information<br>Call or reach us via email</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center text-primary">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p style="color: limegreen">+234 (0) 802 303 3713</p>
          </div>
          <div class="col-lg-4 mr-auto text-center text-primary">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">storehousenigeria@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/creative.min.js"></script>

  </body>

</html>
